# Feeder 3.1

This is a collection of code and how I can incorapte their use in order to better analyze the data, answering my developed research questions.

### Where is this data from

The dataset I have selected is data compiled from different regions across the United States in order to make this larger dataset.

### What is this data about

This dataset is a collection of health data on a county level. 

### How to navigate through this dataset

The first few columns on the far left indicate the places. It is arranged alphabetically by state. Furthermore, within one state, the counties are then arranged by alphabetical order for easy navigatibility. Most of the columns that come after those can be seen and considered as possible reasons for a county's health levels.

In [1]:
import pandas as pd

### Importing Packages

#### Packages
The original Python software did not come fully equiped for any tasks we may need it for. It has a set number of capabilities built in the base program yet, thanks to packages, it is not limited to those capabilities. 

You can think of it like an extension for your Chrome browser. Although Chrome is an extremely helpful tool (like Python), there are some things we would like it to do that it is not capabable of doing on its own. We 'import' extensions to Chrome to make that possible. That is the same thing here. We import packages to add additional features to Python


##### Pandas

We are importing Pandas because of its applicable use here in storing and navigating through data. Using large datasets (such as the one used for this project) can be very hard to navigate through if not organized simply and efficiently. Pandas is able to store data in a way we typically see data, consisting of rows and columns.

Begin by importing the pandas package using the following command:

##### Numpy

Much like the package called Pandas helping us store and structure the dataset, the package Numpy helps make our like easier too. It allows Python to be able to perform some of the mathematical evalutions we may need throughout this process.

In [2]:
import pandas as pd
import numpy as np

The part at the end of the import function name `as pd` and ```as np``` are there to make it easier for us to access the package. With this addition, we are able to refer to Pandas as pd and Numpy as np rather than typing out the whole thing.

### Creating a DataFrame

#### Setting up to import

Since we have our dataset in the same directory as our Jupyter Notebook, we can go ahead and use the imported package, Pandas, to read and store the data.

#### Using the `pd.read_csv()` function

`pd.read_csv` allows us to read our dataset from a csv file and it essentially will make it into an "object". Think of this object as a pdf of a spreadsheet.

In [3]:
raw_data=pd.read_csv("CountyHealthData_2014-2015.csv")

Above, we have defined our 'object' which is the dataset as `raw_data`. This way, we can refer to it as `raw_data` when we try to navigate through its rows and columns.

In [4]:
raw_data.columns

Index(['State', 'Region', 'Division', 'County', 'FIPS', 'GEOID', 'SMS Region',
       'Year', 'Premature death', 'Poor or fair health',
       'Poor physical health days', 'Poor mental health days',
       'Low birthweight', 'Adult smoking', 'Adult obesity',
       'Food environment index', 'Physical inactivity',
       'Access to exercise opportunities', 'Excessive drinking',
       'Alcohol-impaired driving deaths', 'Sexually transmitted infections',
       'Teen births', 'Uninsured', 'Primary care physicians', 'Dentists',
       'Mental health providers', 'Preventable hospital stays',
       'Diabetic screening', 'Mammography screening', 'High school graduation',
       'Some college', 'Unemployment', 'Children in poverty',
       'Income inequality', 'Children in single-parent households',
       'Social associations', 'Violent crime', 'Injury deaths',
       'Air pollution - particulate matter', 'Drinking water violations',
       'Severe housing problems', 'Driving alone to work',
       'Long commute - driving alone', '2011 population estimate',
       'Population that is not proficient in English',
       'Population living in a rural area', 'Diabetes', 'HIV prevalence rate',
       'Premature age-adjusted mortality', 'Infant mortality',
       'Child mortality', 'Food insecurity', 'Limited access to healthy foods',
       'Motor vehicle crash deaths', 'Drug poisoning deaths',
       'Uninsured adults', 'Uninsured children', 'Health care costs',
       'Could not see doctor due to cost', 'Other primary care providers',
       'Median household income', 'Children eligible for free lunch',
       'Homicide rate', 'Inadequate social support'],
      dtype='object')

**The above line of code simply lists all the different column names for use. This is a good start because now we can use the outcome from this line of code to pick and choose which columns we may find of use.**

In [5]:
raw_data.dtypes

State                                object
Region                               object
Division                             object
County                               object
FIPS                                  int64
                                     ...
Other primary care providers        float64
Median household income               int64
Children eligible for free lunch    float64
Homicide rate                       float64
Inadequate social support           float64
Length: 64, dtype: object

**We know that each column has a specific type of number or character that appears in the cells below it. This is called a datatype. In order for us to get an idea of what datatypes are used in each column, we can but the name of the dataset followed by `.dtypes`.**

#### Methods

Methods are procedures we call in order for them to be able to be able to work with the data. Luckily, in this case, they are defined but for example, a head function such as the following would need you to code it inorder for the kernel to understand what `head` means.

Below you will see methods being called and used to structure the dataset into subset. This allows us to be able to navigate through them much faster since we are looking at a much smaller dataset.

In [6]:
raw_data.head(8)

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477
5,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2015,12864.0,0.211,...,NaN,0.389,0.153,5317.0,0.200,175.0,42876,0.721,18.30,NaN
6,AK,West,Pacific,Dillingham Census Area,2070,2070,Insuff Data,1/1/2014,9699.0,0.121,...,NaN,0.384,0.147,6082.0,0.152,119.0,47498,0.636,NaN,0.305
7,AK,West,Pacific,Dillingham Census Area,2070,2070,Insuff Data,1/1/2015,15057.0,0.121,...,NaN,0.367,0.154,7204.0,0.152,120.0,47930,0.690,NaN,NaN

In [7]:
raw_data.tail(7)

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
6102,WY,West,Mountain,Teton County,56039,56039,Region 28,1/1/2015,3853.0,0.059,...,NaN,0.238,0.130,7563.0,0.113,81.0,70201,0.125,NaN,NaN
6103,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2014,8171.0,0.135,...,19.77,0.202,0.076,7270.0,0.123,48.0,61057,0.277,NaN,0.159
6104,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2015,7436.0,0.135,...,18.66,0.192,0.090,7600.0,0.123,47.0,60953,0.273,NaN,NaN
6105,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2014,6580.0,0.106,...,NaN,0.225,0.086,8202.0,0.099,47.0,49533,0.328,NaN,0.133
6106,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2015,7572.0,0.106,...,NaN,0.226,0.101,7940.0,0.099,47.0,50740,0.309,NaN,NaN
6107,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2014,5633.0,0.162,...,NaN,0.201,0.084,6906.0,0.130,28.0,53665,0.232,NaN,0.171
6108,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2015,7819.0,0.162,...,NaN,0.189,0.092,7238.0,0.130,28.0,59314,0.235,NaN,NaN

These methods provide you with the first and last rows of the data. You can set the number of rows in the paranthesis. In case, we couldn't just look at the data and tell, we can now see that it is arranged in alphabetical order.

### Making Use of our Data

Although all the data in our raw dataset is useful, in our case, it is not. In a previous exercise, we used our data and came up with three different analysis areas and made our research questions. Looking at the whole dataset can be quite overwhelming so we will try to narrow it down step-by-step in an effort to make a subset of data, making it easier to answer those questions. But first, let's take a look at our three analysis areas. 

#### Analysis Area #1

In the **first** analysis area, we decided that there are areas that would benefit from the addition and expansion of healthcare and healthcare coverage. A reason for low health can be attributed to the cost of treatment. Healthcare can be very heavy on a households expenses and some may choose to deal with their inadequate health rather than receive treatment.

#### Analysis Area #2

In the **second** analysis area, we decided that there are areas that would benefit from an increased tobacco tax. More specifically, areas that would benefit health-wise from an increased tobacco tax. This would be an effort to restrict the use of tobacco and smoking.

#### Analysis Area #3

In the **third** analysis area, we decided that there are areas that would benefit from increased funding. Some people live in areas that are below the poverty line. This can lead to negative health outcomes in different ways such as unhealthy foods or inadequate housing.

### Analysis Area Subset 1

This **first** subset can be used to provide more detail on the first analysis area regarding hospitals costs payments but specially to the State of North Carolina. The columns selected limit the data to **ONLY** North Carolina. We are able to then see the which counties have which rates of uninsured individuals and how much hospital costs are. By doing this, we are able to compare the different counties with the State of North Carolina and correlating their health data to the impact of cost as a reason people couldn't receive treatment.

In [8]:
raw_data.loc[3243:3442,['State', 'County', 'FIPS',  'Uninsured', 'Health care costs', 'Could not see doctor due to cost']]

,State,County,FIPS,Uninsured,Health care costs,Could not see doctor due to cost
3243,NC,Alamance County,37001,0.206,8640.0,0.167
3244,NC,Alamance County,37001,0.203,9050.0,0.167
3245,NC,Alexander County,37003,0.195,9316.0,0.205
3246,NC,Alexander County,37003,0.194,9242.0,0.205
3247,NC,Alleghany County,37005,0.272,9585.0,0.210
...,...,...,...,...,...,...
3438,NC,Wilson County,37195,0.209,9450.0,0.107
3439,NC,Yadkin County,37197,0.209,10084.0,0.158
3440,NC,Yadkin County,37197,0.201,10998.0,0.158
3441,NC,Yancey County,37199,0.228,7707.0,0.158
3442,NC,Yancey County,37199,0.206,7870.0,0.158

In [9]:
Hospital_Costs = raw_data.loc[3243:3442,['State', 'County', 'FIPS',  'Uninsured', 'Health care costs', 'Could not see doctor due to cost']].copy()

In [10]:
Hospital_Costs.to_csv("Hospital_Costs.csv", index=False)

### Analysis Area Subset 2

The **second** subset above can be used to provide more detail on the second analysis area regarding a tax impose tobacco and alcohol consumption. Smoking and alcohol-use has long be correlated to negative health and this is a contributing factor to the negative health rates of counties, some more than others. We can see from the data set below the rates at which adults engage in either smoking or excessive drinking and this habits, if stopped or even limited, can increase the health rates of these counties immensely and this is can be done by imposing an additional tax on those products in an attempt to limit the purchasing of them. Another idea that may help people get away from the use of tobacco and alcohol could be by limiting their free time and giving them something else to do. This could be done by proposing a tax break for exercise and fitness related products and activities bring individuals to healtier habits rather than detremental ones.

In [11]:
raw_data.loc[3243:3442,['State', 'County', 'FIPS', 'Adult smoking', 'Excessive drinking', 'Alcohol-impaired driving deaths']]

,State,County,FIPS,Adult smoking,Excessive drinking,Alcohol-impaired driving deaths
3243,NC,Alamance County,37001,0.238,0.123,0.351
3244,NC,Alamance County,37001,0.238,0.123,0.291
3245,NC,Alexander County,37003,0.260,0.119,0.125
3246,NC,Alexander County,37003,0.260,0.119,0.167
3247,NC,Alleghany County,37005,0.271,0.165,0.417
...,...,...,...,...,...,...
3438,NC,Wilson County,37195,0.121,NaN,0.439
3439,NC,Yadkin County,37197,0.255,NaN,0.395
3440,NC,Yadkin County,37197,0.255,NaN,0.395
3441,NC,Yancey County,37199,0.214,0.062,0.214
3442,NC,Yancey County,37199,0.214,0.062,0.143

In [12]:
Alcohol_tobacco = raw_data.loc[3243:3442,['State', 'County', 'FIPS', 'Adult smoking', 'Excessive drinking']].copy()

In [13]:
Alcohol_tobacco.to_csv("Alcohol_tobacco.csv", index=False)

### Analysis Area Subset 3

The **third** subset can be used to provide more detail on the third analysis area regarding income and increased funding to a specific area. Although increased funding can be very impactful from a lot of aspects, if we include every column impacted by funding, this subset would be extremely close to the original raw data set. Therefore, we had to limit it down to include only a few critical points. We aimed to cover categories from four different aspects. These categories are:
- children in poverty
- inadequate food
- inadequate water and
- inadequate housing.

There are many more factors affected by funding yet in order to keep this subset brief, we had to limit it to these main aspects.

In [14]:
raw_data.loc[3243:3442,['State', 'County', 'FIPS', 'Children in poverty',  'Drinking water violations', 'Severe housing problems', 'Food insecurity']]

,State,County,FIPS,Children in poverty,Drinking water violations,Severe housing problems,Food insecurity
3243,NC,Alamance County,37001,0.292,0.019,0.167,0.174
3244,NC,Alamance County,37001,0.271,0.305,0.167,0.171
3245,NC,Alexander County,37003,0.250,0.000,0.134,0.156
3246,NC,Alexander County,37003,0.229,0.000,0.142,0.159
3247,NC,Alleghany County,37005,0.347,0.065,0.150,0.174
...,...,...,...,...,...,...,...
3438,NC,Wilson County,37195,0.337,0.019,0.199,0.226
3439,NC,Yadkin County,37197,0.312,0.025,0.101,0.142
3440,NC,Yadkin County,37197,0.271,0.021,0.123,0.145
3441,NC,Yancey County,37199,0.310,0.000,0.119,0.159
3442,NC,Yancey County,37199,0.308,0.000,0.142,0.160

In [15]:
Funding = raw_data.loc[3243:3442,['State', 'County', 'FIPS', 'Children in poverty',  'Drinking water violations', 'Severe housing problems', 'Food insecurity']].copy()

In [16]:
Funding.to_csv("Funding.csv", index=False)

# Conclusion

In conclusion, we can narrow down the groupings of an original dataset to find and analyze different aspects of it. CSV files or Comma-Separated Value files, are extremely dense data files and on an individual-level, they contain lots of irrelevant information. That is where coding like this comes into play. It makes navigatibility and usability much more simple and efficient.